# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


# Sphinx documentation
docs/_build/


# mkdocs documentation
/site

# mypy
.mypy_cache/

# vscode
.vscode/

# Test notebooks
test.ipynb
notebooks/
notebook.ipynb